.gallery {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  justify-content: space-evenly;
  padding-left: 0;
  list-style: none;
}

img {
  width: 240px;
  height: 160px;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 15px;
}

.material-icons {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

input {
  padding: 10px 0;
  margin: 30px 10px 30px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.747);
}

.more-btn {
  display: block;
  margin: 0 auto;

  background-color: #bbbbbb;
  border-radius: 15px;
  border: 1px solid #868686;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  margin-bottom: 15px;
}

.more-btn:hover {
  background-color: #17a335;
}
